/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Shadows Into Light', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.home-top {
  width: 100%;
  background-image: url("../assets/samuel-scrimshaw-318621-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.home-top header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.3rem;
}
@media ( max-width: 550px ) {
  .home-top header {
    display: block;
  }
}
.home-top header h1 {
  width: 48%;
  padding: 1rem 0 0 5rem;
}
@media ( max-width: 550px ) {
  .home-top header h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
  }
}
.home-top header nav {
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media ( max-width: 900px ) {
  .home-top header nav {
    padding: 3% 5% 0 0;
  }
}
.home-top header nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fc0;
  text-transform: uppercase;
}
.home-top header nav a:hover {
  color: black;
}
.home-top .home-top-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13rem;
}
.home-top .home-top-text h2 {
  font-size: 6.5rem;
  padding-bottom: 2rem;
}
@media ( max-width: 550px ) {
  .home-top .home-top-text h2 {
    font-size: 5rem;
  }
}
.home-top .home-top-text p {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}
@media ( max-width: 550px ) {
  .home-top .home-top-text p {
    font-size: 1.8rem;
  }
}
.home-top .home-top-text .top-btns {
  display: flex;
  justify-content: center;
}
.home-top .home-top-text .top-btns .btn-profile {
  background-color: whitesmoke;
  color: black;
  margin: 8px 0;
  cursor: pointer;
  padding: 10px 5%;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  font-size: 1.6rem;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 10px 0 10px;
}
.home-top .home-top-text .top-btns .btn-profile:hover {
  background-color: white;
}
.home-top .home-top-text .top-btns .btn-guide {
  background-color: #fc0;
  color: black;
  margin: 8px 0;
  cursor: pointer;
  padding: 10px 5%;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  font-size: 1.6rem;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 10px 0 10px;
}
.home-top .home-top-text .top-btns .btn-guide:hover {
  background-color: white;
}
.main-content {
  margin: 10%;
}
.main-content h2 {
  font-size: 4rem;
  padding: 5rem 0 5rem 0;
  text-align: center;
  background-color: whitesmoke;
}
.profiles-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media ( max-width: 900px ) {
  .profiles-grid {
    flex-direction: column;
    align-items: center;
  }
}
.profiles-grid .profile {
  width: 31%;
  margin: 5% 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media ( max-width: 900px ) {
  .profiles-grid .profile {
    width: 70%;
    display: flex;
    padding-top: 3rem;
  }
}
.profiles-grid .profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.profiles-grid .profile h3 {
  font-size: 3rem;
  padding: 2rem 0;
  border-bottom: 1px dashed #72675d;
}
.profiles-grid .profile p {
  margin: 2rem 0;
  text-align: center;
}
.profiles-grid .profile a {
  background-color: #72675d;
  color: white;
  margin: 8px 0;
  cursor: pointer;
  padding: 10px 5%;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  font-size: 1.6rem;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.profiles-grid .profile a:hover {
  background-color: white;
}
.profiles-grid .profile a:hover {
  color: black;
}
.home-bottom {
  width: 100%;
  background-image: url("../assets/galen-crout-78522-unsplash.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10rem;
}
.home-bottom .home-bottom-text {
  width: 30%;
  height: 50vh;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
@media ( max-width: 900px ) {
  .home-bottom .home-bottom-text {
    width: 35%;
  }
}
@media ( max-width: 550px ) {
  .home-bottom .home-bottom-text {
    width: 60%;
  }
}
.home-bottom .home-bottom-text h2 {
  color: black;
  text-align: center;
  margin: 3rem 0 2rem 0;
}
@media ( max-width: 900px ) {
  .home-bottom .home-bottom-text h2 {
    margin: 1.5rem 0 0.5rem 0;
  }
}
.home-bottom .home-bottom-text a {
  background-color: #fc0;
  color: black;
  margin: 8px 0;
  cursor: pointer;
  padding: 10px 5%;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  font-size: 1.6rem;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  align-self: center;
}
.home-bottom .home-bottom-text a:hover {
  background-color: white;
}
@media ( max-width: 550px ) {
  .home-bottom .home-bottom-text a {
    background-color: #fc0;
    color: black;
    margin: 8px 0;
    cursor: pointer;
    padding: 10px 5%;
    text-align: center;
    text-decoration: none;
    width: 70%;
    font-size: 1.6rem;
    border-radius: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .home-bottom .home-bottom-text a:hover {
    background-color: white;
  }
}
footer {
  text-align: center;
  padding: 2rem 0;
  background-color: whitesmoke;
  margin-top: 5rem;
}
.top-about header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.3rem;
  padding-bottom: 1rem;
}
@media ( max-width: 550px ) {
  .top-about header {
    display: block;
  }
}
.top-about h1 {
  width: 48%;
  padding: 1rem 0 0 5rem;
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
}
@media ( max-width: 550px ) {
  .top-about h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
  }
}
.top-about nav {
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media ( max-width: 900px ) {
  .top-about nav {
    padding: 3% 5% 0 0;
  }
}
.top-about nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fc0;
  text-transform: uppercase;
}
.top-about nav a:hover {
  color: black;
}
.about-content {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  background-color: whitesmoke;
}
@media ( max-width: 900px ) {
  .about-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about-content .carousel {
  width: 30%;
  height: 40rem;
  margin: 4rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media ( max-width: 900px ) {
  .about-content .carousel {
    width: 80%;
  }
}
.about-content .carousel img {
  width: 100%;
  height: auto;
}
.about-content .about-content-text {
  width: 30%;
  margin: 4rem;
}
@media ( max-width: 900px ) {
  .about-content .about-content-text {
    width: 80%;
  }
}
.about-content .about-content-text h2 {
  padding-bottom: 2rem;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.2rem;
}
@media ( max-width: 550px ) {
  .about-content .about-content-text h2 {
    text-align: center;
  }
}
.section {
  padding: 6rem 0;
}
.section h2 {
  margin: 3rem auto;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.2rem;
}
.tabs {
  width: 60%;
  margin: 0 auto 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media ( max-width: 900px ) {
  .tabs {
    width: 80%;
  }
}
.tabs .tabs-items {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-name {
  font-size: 2.4rem;
  padding: 2rem 0.5rem;
}
.tabs .tabs-item .tabs-item-name a {
  color: black;
  border-bottom: 1px solid black;
}
.tabs .tabs-item .tabs-item-name a i {
  color: #fc0;
}
.tabs .tabs-item .tabs-item-name a:hover {
  color: #fc0;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #72675d;
}
@media ( max-width: 550px ) {
  .tabs .tabs-links {
    flex-direction: column;
  }
}
.tabs .tabs-link {
  padding: 2rem 2.5rem;
  font-size: 2.4rem;
  background-color: #72675d;
  border-right: 2px solid white;
  color: white;
  cursor: pointer;
}
@media ( max-width: 550px ) {
  .tabs .tabs-link {
    border-bottom: 2px solid white;
    border-right: none;
  }
}
.tabs .tabs-link:hover {
  background-color: #72675d;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #72675d;
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
