/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Shadows Into Light', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.home-top {
  width: 100%;
  background-image: url("../assets/samuel-scrimshaw-318621-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.home-top header {
  display: flex;
  justify-content: space-between;
}
.home-top header h1 {
  width: 48%;
  padding: 10px 0 0 30px;
}
.home-top header nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-top header nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fc0;
  text-transform: uppercase;
}
.home-top header nav a:hover {
  color: black;
}
.home-top .home-top-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.home-top .home-top-text h2 {
  font-size: 7rem;
  padding-bottom: 2rem;
}
.home-top .home-top-text p {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}
.home-top .home-top-text button {
  background-color: #fc0;
  color: black;
  margin: 8px 0;
  cursor: pointer;
  padding: 10px 5%;
  text-align: center;
  width: 20rem;
  font-size: 1.6rem;
  border-radius: 15px;
  border: 0;
  margin: 0 10px 0 10px;
}
.home-top .home-top-text button:hover {
  background-color: white;
  color: black;
}
.top-about header {
  display: flex;
  justify-content: space-between;
}
.top-about h1 {
  width: 48%;
  padding: 10px 0 0 30px;
}
.top-about nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.top-about nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fc0;
  text-transform: uppercase;
}
.top-about nav a:hover {
  color: black;
}
.about-content {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.about-content img {
  width: 30%;
  height: 50vh;
  margin: 4rem;
}
.about-content .about-content-text {
  width: 30%;
  margin: 4rem;
  padding-top: 3rem;
}
.about-content .about-content-text h2 {
  padding-bottom: 2rem;
}
.section h2 {
  margin: 3rem auto;
  text-align: center;
}
.tabs {
  width: 60%;
  margin: auto;
}
.tabs .tabs-items {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-name {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #4A5043;
}
.tabs .tabs-link {
  padding: 2rem 2.5rem;
  font-size: 2.4rem;
  background-color: #4A5043;
  border-right: 2px solid white;
  color: white;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #4A5043;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #4A5043;
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
