.top-about {
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.3rem;
    padding-bottom: 1rem;

    @media @mobile {
      display: block;
    }
  }

  h1 {
    width: 48%;
    padding: 1rem 0 0 5rem;
    font-family: "Shadows Into Light", cursive;
    font-size: 4rem;

    @media @mobile {
      width: 100%;
      text-align: center;
      padding: 2rem 0;
    }
  }

  nav {
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media @tablet {
      padding: 3% 5% 0 0;
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: @accent-color;
      text-transform: uppercase;

      &:hover {
        color: black;
      }
    }
  }
}

.about-content {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  background-color: @neutral;

  @media @tablet {
    flex-direction: column-reverse;
    align-items: center;
  }

  .carousel-container {
    width: 35%;
    height: auto;

    @media @tablet {
      width: 80%;
      height: auto;
      overflow: hidden;
    }

    .carousel {
      margin: 6rem auto;
      border-radius: 5px;
      box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
      overflow: hidden;
     
    }
  }

  .about-content-text {
    width: 40%;
    margin: 6.5rem 5rem;

    @media @tablet {
      width: 80%;
    }

    h2 {
      padding-bottom: 2rem;
      font-family: "Shadows Into Light", cursive;
      font-size: 3.2rem;

      @media @mobile {
        text-align: center;
      }
    }
  }
}

.section {
  padding: 6rem 0;

  h2 {
    margin: 3rem auto;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-size: 3.2rem;
  }
}
