.main-content {
  h2 {
    font-size: 4rem;
    padding: 15rem 0 8rem 0;
    text-align: center;
    background-color: whitesmoke;
  }
}

.profiles-row{
  display: flex;
  justify-content: space-evenly;

  @media @mobile {
    flex-direction: column;
    align-items: center;
  }

  .profile{
    width: 20%;
    padding: 3% 0;

    @media @mobile {
      width: 70%;
      display: flex;
      flex-direction: column;
      padding-top: 6rem;
    }

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;

      @media @mobile {
        align-self: center;
      }
    }

    h3{
      font-size: 3rem;
      padding: 2rem 0;
      border-bottom: 1px dashed @stone;
     
      @media @mobile {
        align-self: center;
      }
    }

    a {
      .custom-button(20rem, @stone, white);
    }
  }

}

.home-bottom {
  width: 100%;
  background-image: url("../assets/galen-crout-78522-unsplash.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10rem;

  .home-bottom-text {
      width: 25%;
      height: 25rem;
      background-color: @neutral;
      border: 1px solid gray;
      border-radius: 7px;
      box-shadow: 0 .5rem 1rem rgba(black,.2);
      line-height: 1.5;
      display: flex;
      flex-direction: column;

    h2 {
      color: black;
      text-align: center;
      margin: 3rem 0 2rem 0;
    }
    a {
      .custom-button();
      align-self: center;
    }
  }
}



footer {
  text-align: center;
  padding: 2rem 0;
  background-color: @neutral;
  margin-top: 5rem;
}

