.main-content {
  h2 {
    font-size: 4rem;
    padding: 15rem 0 8rem 0;
    text-align: center;
    background-color: whitesmoke;
  }
}

.profiles-row{
  display: flex;
  justify-content: space-evenly;

  .profile{
    width: 20%;
    padding: 3% 0;

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }

    h3{
      font-size: 3rem;
      padding: 2rem 0;
      
    }
  }

}




footer {
  text-align: center;
  padding: 2rem 0;
  background-color: whitesmoke;
  margin-top: 5rem;
}

