.home-top {
  width: 100%;
  background-image: url("../assets/samuel-scrimshaw-318621-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  

  header {
    display: flex;
    justify-content: space-between;

    h1 {
      width: 48%;
      padding: 10px 0 0 30px;
    }

    nav {
      min-width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      a {
        text-decoration: none;
        font-size: 1.6rem;
        color: @accent-color;
        text-transform: uppercase;

        &:hover{
          color: black;
        }
      }
    }
  }

  .home-top-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;

    h2 {
      font-size: 7rem;
      padding-bottom: 2rem;
    }
    p {
      text-align: center;
      font-size: 2rem;
      padding-bottom: 3rem;
    }
    button {
      .custom-button();
      margin: 0 10px 0 10px;
    }
  }
}
