// Color assignments
@accent-color: @yellow;
@tab-color: @stone;

//Colors
@yellow: #fc0;
@stone: #72675d;
@neutral: whitesmoke;

// @yellow: #657D57;
// @stone: #8b705e;
// @neutral: whitesmoke;

//Responsive 
@mobile: ~"( max-width: 550px )";
@tablet: ~"( max-width: 900px )";